<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap Gallery - Nyke Admin Template</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.svg}" />
    <link rel="stylesheet" th:href="@{/assets/fonts/bootstrap/bootstrap-icons.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/main.min.css}" />
</head>
<body>
<!-- Container start -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-sm-6 col-12">

            <form th:action="@{/do-login}" method="post" class="my-5">
                <div class="border border-dark rounded-2 p-4 mt-5">
                    <div class="login-form">
                        <a href="index.html" class="mb-4 d-flex">
                            <img src="assets/images/logo-dark.svg" class="img-fluid login-logo" alt="Nyke Admin" />
                        </a>
                        <h5 class="fw-light mb-5">Sign in to access dashboard.</h5>
                        <div class="mb-3">
                            <label class="form-label">Your Email</label>
                            <input type="text" name = "username" class="form-control" placeholder="Enter your email" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Your Password</label>
                            <input type="password" name = "password" class="form-control" placeholder="Enter password" />
                        </div>
                        <!-- Hiển thị lỗi -->
                        <div th:if="${param.error}">
                            <p style="color: red;">Invalid email or password!</p>
                        </div>
                        <div th:if="${param.logout}">
                            <p style="color: green;">Logout success!</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="form-check m-0">
                                <input class="form-check-input" type="checkbox" value="" id="rememberPassword" />
                                <label class="form-check-label" name="remember-me" for="rememberPassword">Remember</label>
                            </div>
                            <a href="forgot-password.html" class="text-blue text-decoration-underline">Lost password?</a>
                        </div>
                        <div class="d-grid py-3 mt-4">
                            <button type="submit" class="btn btn-lg btn-primary">
                                Login
                            </button>
                        </div>
                        <div class="text-center py-3">or Login with</div>
                        <div class="d-flex gap-2 justify-content-center">
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="bi bi-google me-2"></i>Gmail
                            </button>
                            <button type="submit" class="btn btn-outline-info">
                                <i class="bi bi-facebook me-2"></i>Facebook
                            </button>
                        </div>
                        <div class="text-center pt-4">
                            <span>Not registered?</span>
                            <a href="signup.html" class="text-blue text-decoration-underline ms-2">
                                SignUp</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Container end -->
</body>

</html>